body {
 background-color: #eaf2e3;
 color: #333;
 font-family: Arial, sans-serif;
 margin: 0;
 padding: 0;
}


/* Clases */
.pv1 {
	text-align: center;
	font-weight: bold;
	font-style: italic;
}

.dv1 {
	background-color: rgb(100%,100%,100%);
}

.img-header {
	position: absolute;
	right: 2.5%;
	top: 0;
	max-width: 6%; /* Asegurar que las imágenes no excedan el ancho del contenedor */
}

/* Etiquetas semánticas */
header {
background: linear-gradient(to right, #006400, #00ff00); /* verde oscuro a verde claro */
color: #fff;
text-align: left;
margin-left: 20px;
margin-right: 20px;
padding: 20px;
font-size: 40px;
}

section {
	padding: 20px; /* espaciado para la sección de 20 pixeles */
}

footer {
	background-color: #4caf50; /* Color de fondo del footer */
	color: #fff;
	max-width: 1600px; /* Ancho máximo del contenido del footer */
        margin-left: 20px;	
        margin-right: 20px;	
	text-align: center; 
	padding: 20px;
}

/* Estilos para el nav y enlaces de ul y li */
nav {
	background-color: #4caf50;
	padding: 10px;
    	margin-left: 20px;
    	margin-right: 20px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

nav ul li {
	display: inline-block;
	margin-right: 20px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
	padding: 8px 16px;
	border-radius: 5px;
}

nav ul li a:hover {
	background-color: #2f8247;
}

.menu {
    list-style-type: none;
    text-align: center;
}

.menu li {
    display: inline;
    margin: 0 15px;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

.menu a:hover {
    color: #69bd45;
}

/* Estilos para las imágenes */
img {
	display: block; /* Para eliminar el espacio adicional que algunos navegadores agregan a las img. */
	margin: 0 auto; /* Centrar las imágenes horizontalmente */
	max-width: 10%; /* Asegurar que las imágenes no excedan el ancho del contenedor */
	border: 3px solid #69bd45; /* Contorno de 3px con un color verde (#69bd45) alrededor de la img.*/
	border-radius: 10px; /* Borde redondeado de 10px para suavizar el contorno */
}
