body {
 background-color: #eaf2e3;
 color: #333;
 font-family: Arial, sans-serif;
 margin: 0;
 padding: 0;
}

form input,
form label,
form button{
	display: block;
	margin-bottom: 15px; /* espacio entre líneas */
}

/* Clases&Id */
/*.navbar-gradient { */
/*      background: linear-gradient(to right, #2ecc71, #27ae60); */ /* verde claro a verde oscuro */ 
/*    } */

.my-bg-navBar{

}

.pv1 {
	text-align: center;
	font-weight: bold;
	font-style: italic;
}

/* background-color: rgb(100%,100%,100%); */
.dv1 {
background: linear-gradient(to right, #e0e0e0, #bfbfbf); /* de gris muy claro a gris claro */
margin-left: 20px;
margin-right: 20px;
padding: 10px
}

.img-header {
	position: absolute;
	right: 2.5%;
	top: 10px;
	max-width: 6%; /* Asegurar que las imágenes no excedan el ancho del contenedor */
}

.label-acceder {
font-weight: bold
}

.img-acceder{
padding: 8px;
max-width: 30%;
margin-bottom: 10%
}

.form-acceder {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 40%;
	margin-right: 43%;
        background: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.boton-acceder {
    padding: 10px 20px;
    background-color: #28a745;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* Etiquetas semánticas */
header {
background: linear-gradient(to right, #006400, #00ff00); /* verde oscuro a verde claro */
color: #fff;
text-align: left;
margin-top: 10px;
margin-left: 20px;
margin-right: 20px;
padding: 20px;
font-size: 40px;
}

section {
	padding: 20px; /* espaciado para la sección de 20 pixeles */
}

footer {
	background-color: #4caf50; /* Color de fondo del footer */
	color: #fff;
	max-width: 1600px; /* Ancho máximo del contenido del footer */
        margin-left: 20px;	
        margin-right: 20px;	
	text-align: center; 
	padding: 20px;
}

/* Estilos para el nav y enlaces de ul y li */
nav {
	background-color: #4caf50;
	padding: 10px;
    	margin-left: 20px;
    	margin-right: 20px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

nav ul li {
	display: inline-block;
	margin-right: 20px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
	padding: 8px 16px;
	border-radius: 5px;
}

nav ul li a:hover {
	background-color: #2f8247;
}

.menu {
    list-style-type: none;
    text-align: center;
}

.menu li {
    display: inline;
    margin: 0 15px;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

.menu a:hover {
    color: #69bd45;
}

/* Estilos para las imágenes */
img {
	display: block; /* Para eliminar el espacio adicional que algunos navegadores agregan a las img. */
	margin: 0 auto; /* Centrar las imágenes horizontalmente */
	max-width: 10%; /* Asegurar que las imágenes no excedan el ancho del contenedor */
	border: 3px solid #69bd45; /* Contorno de 3px con un color verde (#69bd45) alrededor de la img.*/
	border-radius: 10px; /* Borde redondeado de 10px para suavizar el contorno */
}
