body {
 background:linear-gradient(to right, #e0e0e0, #bfbfbf); /* de gris muy claro a gris claro */
}

/* Clases */
.my-bg-navBar{
background-color: #16a085
}

.my-header-style {
background: linear-gradient(to right, #006400, #00ff00); /* verde oscuro a verde claro */
color: #fff;
text-align: left;
padding: 20px;
font-size: 40px;
}

.my-footer-style {
background: linear-gradient(to right, #006400, #00ff00); /* verde oscuro a verde claro */
}

.my-carousel-style {
carousel-control-width: 50%
}

.my-card-style {
max-width: 540px;
margin-top: 20vh; /* hv alto de la pantalla */
}

.my-card-text-style {
text-align: justify;
}

/* Mantener footer en la parte inferior de la pagina */
.wrapper {
min-height: 100vh;
display: flex;
flex-direction: column;
}

.content {
flex: 1;
}
